h1 {
  font-family: 'Fredoka One', cursive;
  float: right;
  font-size: 3.8em;}
h2 {
  font-family: 'Quicksand', 'Helvetica', sans-serif;
  background: #4a84ff;
  float: right;
  padding: 15px;
  font-size: 1em;}
p {
  font-family: 'Quicksand', 'Helvetica', sans-serif;
  background: #eeaba9;
  padding: 15px;
  float: left;
  width: 75%}
.personalImage {
  width: 45%;
  position: relative;
  top: 0;}
.zig {
  width: 40%;
  position: absolute;
  top: 420px;
  left: 15%;}
.zag {
  width: 40%;
  position: fixed;
  bottom: 0px;
  right: 11.5%;}

.icon {
  width: 10%;}
.icon:hover {
  opacity: .5;
  filter: alpha(opacity=100);}
#icons {
  position: absolute;
  left: 15%;
  top: 15%;}

body {
 width: 70%;
 margin: 0 auto;
 background: white;}

ul {
  list-style: none;}
.flex-container { 
	width: 100%;
  display: flex;
	flex-flow: row wrap;
	justify-content: space-between;}
.flex-item img {
	background: yellow;
	padding: 0px;
	height: auto;
  width: 25%;
	margin: 10px 0;
  opacity: 0.5;
  filter: alpha(opacity=50);}
li img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);}

@media (max-width:482px) {
  p{
    font-size: 1em;}
  .flex-item img {
    width: 100%;
    heigth: auto;
  }
}
